//
// PLACE ANY BUILD DEFINITIONS IN THIS FILE AND THEY WILL BE 
// PICKED UP DURING THE APP BUILD FOR YOUR MODULE
//
// see the following webpage for instructions on the settings
// for this file:
// http://developer.apple.com/mac/library/documentation/DeveloperTools/Conceptual/XcodeBuildSystem/400-Build_Configurations/build_configs.html
// 

//
// How to add a Framework (example)
//
// OTHER_LDFLAGS=$(inherited) -framework Foo
//
// Adding a framework for a specific version(s) of iPhone:
//
// OTHER_LDFLAGS[sdk=iphoneos4*]=$(inherited) -framework Foo
// OTHER_LDFLAGS[sdk=iphonesimulator4*]=$(inherited) -framework Foo
//
//
// How to add a compiler define:
//
// OTHER_CFLAGS=$(inherited) -DFOO=1
//
//
// IMPORTANT NOTE: always use $(inherited) in your overrides
//
MODULEID = com.dcode.photoeditor.adobe
VERSION = 1.0.0
PROJECT_MODULE_PLATFORM_PATH = $(SRCROOT)/../../modules/iphone/$(MODULEID)/$(VERSION)/platform
SYSTEM_MODULE_PLATFORM_PATH = /Library/Application\ Support/Titanium/modules/iphone/$(MODULEID)/$(VERSION)/platform
USER_MODULE_PLATFORM_PATH = ~/Library/Application\ Support/Titanium/modules/iphone/$(MODULEID)/$(VERSION)/platform
FRAMEWORK_SEARCH_PATHS=$(inherited) $(PROJECT_MODULE_PLATFORM_PATH) $(SYSTEM_MODULE_PLATFORM_PATH) $(USER_MODULE_PLATFORM_PATH) 
OTHER_LDFLAGS=$(inherited) -ObjC -all_load -framework AdobeCreativeSDKFoundation -framework AdobeCreativeSDKImage